@inject IModalDialogService Modal

<div class="simple-form">

    <div class="form-group">
        <label for="movie-name">Title</label>
        <input @bind="@Title" type="text" class="form-control" id="title" />
    </div>

    <div class="form-group">
        <label for="year">Video Url</label>
        <input @bind="@VideoUrl" type="text" class="form-control" id="url" />
    </div>

    <button @onclick="@Ok" class="btn btn-primary">Ok</button>
    <button @onclick="@Cancel" class="btn btn-secondary">Cancel</button>
</div>

@code 
{
    [Parameter]
    public string Title { get; set; }
    [Parameter]
    public string VideoUrl { get; set; }

    void Ok()
    {
        ModalDialogParameters returnParameters = new ModalDialogParameters();
        returnParameters.Add("Title", Title);
        returnParameters.Add("VideoUrl", VideoUrl);
        Modal.Close(true, returnParameters);
    }
    void Cancel()
    {
        Modal.Close(false);
    }
}
