<!-- Messages icon -->
<a href="#" class="header-widget-icon" title="Messages"
   uuuuk-tooltip="title: Messages ; pos: bottom ;offset:21">
    <i class="uil-envelope-alt"></i>
    <span>1</span>
</a>

<!-- Messages dropdown list -->
<div uk-dropdown=" pos: top-right;mode:click" class="dropdown-notifications">

    <!-- Messages header -->
    <div class="dropdown-notifications-headline">
        <h4>Messages</h4>
        <a href="#">
            <i class="icon-feather-settings"
                uk-tooltip="title: Message settings ; pos: left"></i>
        </a>
    </div>

    <!-- Messages contents -->
    <div class="dropdown-notifications-content" data-simplebar>

        <!-- Messages list -->
        <ul>
            <li class="notifications-not-read">
                <a href="#">
                    <span class="notification-avatar">
                        <img src="/images/avatars/avatar-2.jpg" alt="">
                    </span>
                    <div class="notification-text notification-msg-text">
                        <strong>Jonathan Madano</strong>
                        <p>
                            Okay.. Thanks for The Answer I will be waiting for your...
                        </p>
                        <span class="time-ago"> 2 hours ago </span>
                    </div>
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="notification-avatar">
                        <img src="/images/avatars/avatar-3.jpg" alt="">
                    </span>
                    <div class="notification-text notification-msg-text">
                        <strong>Stella Johnson</strong>
                        <p>
                            Alex will explain you how to keep the HTML structure and all
                            that...
                        </p>
                        <span class="time-ago"> 7 hours ago </span>
                    </div>
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="notification-avatar">
                        <img src="/images/avatars/avatar-1.jpg" alt="">
                    </span>
                    <div class="notification-text notification-msg-text">
                        <strong>Alex Dolgove</strong>
                        <p>
                            Alia Joseph just joined Messenger! Be the first to send a
                            welcome message..
                        </p>
                        <span class="time-ago"> 19 hours ago </span>
                    </div>
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="notification-avatar">
                        <img src="/images/avatars/avatar-4.jpg" alt="">
                    </span>
                    <div class="notification-text notification-msg-text">
                        <strong>Adrian Mohani</strong>
                        <p>
                            Okay.. Thanks for The Answer I will be waiting for your...
                        </p>
                        <span class="time-ago"> Yesterday </span>
                    </div>
                </a>
            </li>
        </ul>

    </div>
    <div class="dropdown-notifications-footer">
        <a href="#"> sell all <i class="icon-line-awesome-long-arrow-right"></i> </a>
    </div>
</div>
