@inject IAuthService AuthService

@code{
    [Parameter]
    public AuthenticationState Context { get; set; }
}

<!-- Profile icon -->
<a href="#" class="header-widget-icon profile-icon">
    <img src="images/avatars/avatar-2.jpg" alt="" class="header-profile-icon">
</a>

<!-- Profile dropdown -->
<div uk-dropdown="pos:top-right; mode:click" class="dropdown-notifications small profile-dropdown">

    <!-- User Name / Avatar -->
    <a href="profile-1.html">

        <div class="dropdown-user-details">
            <div class="dropdown-user-avatar">
                <img src="images/avatars/avatar-2.jpg" alt="">
            </div>
            <div class="dropdown-user-name">
                @Context.User.Identity.Name
                <span>Students</span>
            </div>
        </div>

    </a>

    <!-- User menu -->

    <ul class="dropdown-user-menu">
        <li>
            <a href="#">
                <i class="icon-material-outline-dashboard"></i> Dashboard
            </a>
        </li>
        <li>
            <a href="#">
                <i class="icon-feather-bookmark"></i> Bookmark
            </a>
        </li>
        <li>
            <a href="/user-profile-edit">
                <i class="icon-feather-settings"></i> Account Settings
            </a>
        </li>
        <li>
            <a href="#" style="color:#62d76b">
                <i class="icon-feather-star"></i> Upgrade To Premium
            </a>
        </li>
        <li class="menu-divider"></li>
        <li>
            <a href="#">
                <i class="icon-feather-help-circle"></i> Help
            </a>
        </li>
        <li>
            <a href="logout">
                <i class="icon-feather-log-out"></i> Log out
            </a>
        </li>
    </ul>


</div>
