@inherits HeaderBase
@code 
{
    [Parameter]
    public RenderFragment Breadcrumbs { get; set; }
}

<header class="@Class" uk-sticky="@UkSticky">

    <div class="container">
        <nav uk-navbar>

            <!-- left Side Content -->
            <div class="uk-navbar-left">

                <span class="btn-mobile" uk-toggle="target: #wrapper ; cls: mobile-active"></span>

                <!-- logo -->
                <a href="/home" class="logo">
                    <img src="/images/logo-dark.svg" alt="">
                    <span> Courseplus</span>
                </a>

                <!-- breadcrumbs -->
                <nav id="breadcrumbs">
                    <ul>
                        @Breadcrumbs
                    </ul>
                </nav>

            </div>

            <!--  Right Side Content   -->
            <div class="uk-navbar-right">

                <LoginDisplay/>

            </div>

        </nav>
    </div>

</header>
