<!-- Playlists icon  -->
<a href="#" class="header-widget-icon" title="My playlists"
   uuuk-tooltip="title:My Playlists; pos:bottom; offset:21">
    <i class="uil-youtube-alt"></i>
</a>

<!-- Playlists dropdown -->
<div uk-dropdown="pos:top-right; mode:click; animation:uk-animation-slide-bottom-small"
     class="dropdown-notifications my-playlists-dropdown">

    <!-- Playlists header -->
    <div class="dropdown-notifications-headline">
        <h4>Your Playlists</h4>
        <a href="#">
            <i class="icon-feather-settings"
               uk-tooltip="title: Notifications settings ; pos: left"></i>
        </a>
    </div>

    <!-- Playlists contents -->
    <div class="dropdown-notifications-content" data-simplebar>

        <!-- Playlists list -->
        <ul>
            <li class="notifications-not-read">
                <a href="playlist-intro.html">
                    <span class="notification-image">
                        <img src="/images/playlist/1.png" alt="">
                    </span>
                    <span class="notification-text">
                        <span class="playlist-title">
                            Ultimate Web Designer & Web Developer
                        </span>
                        <span class="playlist-number">6/35 </span>
                        <span class="playlist-progressbar">
                            <span class="playlist-progressbar-filler"
                                  style="width:95%"></span>
                        </span>
                    </span>

                    <!-- option menu -->
                    <span class="btn-option">
                        <i class="icon-feather-more-vertical"></i>
                    </span>
                    <div class="dropdown-option-nav"
                         uk-dropdown="pos: bottom-right ;mode : hover">
                        <ul>
                            <li>
                                <span>
                                    <i class="icon-material-outline-dashboard"></i>
                                    Playlist Dashboard
                                </span>
                            </li>
                            <li>
                                <span>
                                    <i class="icon-feather-video"></i>
                                    Resume Playlist
                                </span>
                            </li>
                            <li>
                                <span>
                                    <i class="icon-feather-x"></i>
                                    Remove Playlist
                                </span>
                            </li>
                        </ul>
                    </div>
                </a>

            </li>
            <li>
                <a href="playlist-intro.html">
                    <span class="notification-image">
                        <img src="/images/playlist/3.png" alt="">
                    </span>
                    <span class="notification-text">
                        <span class="playlist-title">
                            The Complete JavaScript Playlist Build Real
                            Projects !
                        </span>
                        <span class="playlist-number">6/35 </span>
                        <span class="playlist-progressbar">
                            <span class="playlist-progressbar-filler"
                                  style="width:95%"></span>
                        </span>
                    </span>

                    <!-- option menu -->
                    <span class="btn-option">
                        <i class="icon-feather-more-vertical"></i>
                    </span>
                    <div class="dropdown-option-nav"
                         uk-dropdown="pos: bottom-right ;mode : hover">
                        <ul>
                            <li>
                                <span>
                                    <i class="icon-material-outline-dashboard"></i>
                                    Playlist Dashboard
                                </span>
                            </li>
                            <li>
                                <span>
                                    <i class="icon-feather-video"></i>
                                    Resume Playlist
                                </span>
                            </li>
                            <li>
                                <span>
                                    <i class="icon-feather-x"></i>
                                    Remove Playlist
                                </span>
                            </li>
                        </ul>
                    </div>

                </a>
            </li>
            <li>
                <a href="playlist-intro.html">
                    <span class="notification-image">
                        <img src="/images/playlist/2.png" alt="">
                    </span>
                    <span class="notification-text">
                        <span class="playlist-title">
                            Learn Angular Fundamentals From The
                            Beginning
                        </span>
                        <span class="playlist-number">6/35 </span>
                        <span class="playlist-progressbar">
                            <span class="playlist-progressbar-filler"
                                  style="width:95%"></span>
                        </span>
                    </span>

                    <!-- option menu -->
                    <span class="btn-option">
                        <i class="icon-feather-more-vertical"></i>
                    </span>
                    <div class="dropdown-option-nav"
                         uk-dropdown="pos: bottom-right ;mode : hover">
                        <ul>
                            <li>
                                <span>
                                    <i class="icon-material-outline-dashboard"></i>
                                    Playlist Dashboard
                                </span>
                            </li>
                            <li>
                                <span>
                                    <i class="icon-feather-video"></i>
                                    Resume Playlist
                                </span>
                            </li>
                            <li>
                                <span>
                                    <i class="icon-feather-x"></i>
                                    Remove Playlist
                                </span>
                            </li>
                        </ul>
                    </div>
                </a>
            </li>
            <li>
                <a href="playlist-intro.html">
                    <span class="notification-image">
                        <img src="/images/playlist/1.png" alt="">
                    </span>
                    <span class="notification-text">
                        <span class="playlist-title">
                            Ultimate Web Designer & Web Developer
                        </span>
                        <span class="playlist-number">6/35 </span>
                        <span class="playlist-progressbar">
                            <span class="playlist-progressbar-filler"
                                  style="width:95%"></span>
                        </span>
                    </span>

                    <!-- option menu -->
                    <span class="btn-option">
                        <i class="icon-feather-more-vertical"></i>
                    </span>
                    <div class="dropdown-option-nav"
                         uk-dropdown="pos: top-right ;mode : hover">
                        <ul>
                            <li>
                                <span>
                                    <i class="icon-material-outline-dashboard"></i>
                                    Playlist Dashboard
                                </span>
                            </li>
                            <li>
                                <span>
                                    <i class="icon-feather-video"></i>
                                    Resume Playlist
                                </span>
                            </li>
                            <li>
                                <span>
                                    <i class="icon-feather-x"></i>
                                    Remove Playlist
                                </span>
                            </li>
                        </ul>
                    </div>
                </a>
            </li>
        </ul>
    </div>

    <div class="dropdown-notifications-footer">
        <a href="#"> sell all</a>
    </div>
</div>