<!-- Courses icon  -->
<a href="#" class="header-widget-icon" title="My courses"
    uuuk-tooltip="title:My Courses; pos:bottom; offset:21">
    <i class="uil-youtube-alt"></i>
</a>

<!-- Courses dropdown -->
<div uk-dropdown="pos:top-right; mode:click; animation:uk-animation-slide-bottom-small"
        class="dropdown-notifications my-courses-dropdown">

    <!-- Courses header -->
    <div class="dropdown-notifications-headline">
        <h4>Your Courses</h4>
        <a href="#">
            <i class="icon-feather-settings"
                uk-tooltip="title: Notifications settings ; pos: left"></i>
        </a>
    </div>

    <!-- Courses contents -->
    <div class="dropdown-notifications-content" data-simplebar>

        <!-- Courses list -->
        <ul>
            <li class="notifications-not-read">
                <a href="course-intro.html">
                    <span class="notification-image">
                        <img src="/images/course/1.png" alt="">
                    </span>
                    <span class="notification-text">
                        <span class="course-title">
                            Ultimate Web Designer & Web Developer
                        </span>
                        <span class="course-number">6/35 </span>
                        <span class="course-progressbar">
                            <span class="course-progressbar-filler"
                                    style="width:95%"></span>
                        </span>
                    </span>

                    <!-- option menu -->
                    <span class="btn-option">
                        <i class="icon-feather-more-vertical"></i>
                    </span>
                    <div class="dropdown-option-nav"
                            uk-dropdown="pos: bottom-right ;mode : hover">
                        <ul>
                            <li>
                                <span>
                                    <i class="icon-material-outline-dashboard"></i>
                                    Course Dashboard
                                </span>
                            </li>
                            <li>
                                <span>
                                    <i class="icon-feather-video"></i>
                                    Resume Course
                                </span>
                            </li>
                            <li>
                                <span>
                                    <i class="icon-feather-x"></i>
                                    Remove Course
                                </span>
                            </li>
                        </ul>
                    </div>
                </a>

            </li>
            <li>
                <a href="course-intro.html">
                    <span class="notification-image">
                        <img src="/images/course/3.png" alt="">
                    </span>
                    <span class="notification-text">
                        <span class="course-title">
                            The Complete JavaScript Course Build Real
                            Projects !
                        </span>
                        <span class="course-number">6/35 </span>
                        <span class="course-progressbar">
                            <span class="course-progressbar-filler"
                                    style="width:95%"></span>
                        </span>
                    </span>

                    <!-- option menu -->
                    <span class="btn-option">
                        <i class="icon-feather-more-vertical"></i>
                    </span>
                    <div class="dropdown-option-nav"
                            uk-dropdown="pos: bottom-right ;mode : hover">
                        <ul>
                            <li>
                                <span>
                                    <i class="icon-material-outline-dashboard"></i>
                                    Course Dashboard
                                </span>
                            </li>
                            <li>
                                <span>
                                    <i class="icon-feather-video"></i>
                                    Resume Course
                                </span>
                            </li>
                            <li>
                                <span>
                                    <i class="icon-feather-x"></i>
                                    Remove Course
                                </span>
                            </li>
                        </ul>
                    </div>

                </a>
            </li>
            <li>
                <a href="course-intro.html">
                    <span class="notification-image">
                        <img src="/images/course/2.png" alt="">
                    </span>
                    <span class="notification-text">
                        <span class="course-title">
                            Learn Angular Fundamentals From The
                            Beginning
                        </span>
                        <span class="course-number">6/35 </span>
                        <span class="course-progressbar">
                            <span class="course-progressbar-filler"
                                    style="width:95%"></span>
                        </span>
                    </span>

                    <!-- option menu -->
                    <span class="btn-option">
                        <i class="icon-feather-more-vertical"></i>
                    </span>
                    <div class="dropdown-option-nav"
                            uk-dropdown="pos: bottom-right ;mode : hover">
                        <ul>
                            <li>
                                <span>
                                    <i class="icon-material-outline-dashboard"></i>
                                    Course Dashboard
                                </span>
                            </li>
                            <li>
                                <span>
                                    <i class="icon-feather-video"></i>
                                    Resume Course
                                </span>
                            </li>
                            <li>
                                <span>
                                    <i class="icon-feather-x"></i>
                                    Remove Course
                                </span>
                            </li>
                        </ul>
                    </div>
                </a>
            </li>
            <li>
                <a href="course-intro.html">
                    <span class="notification-image">
                        <img src="/images/course/1.png" alt="">
                    </span>
                    <span class="notification-text">
                        <span class="course-title">
                            Ultimate Web Designer & Web Developer
                        </span>
                        <span class="course-number">6/35 </span>
                        <span class="course-progressbar">
                            <span class="course-progressbar-filler"
                                    style="width:95%"></span>
                        </span>
                    </span>

                    <!-- option menu -->
                    <span class="btn-option">
                        <i class="icon-feather-more-vertical"></i>
                    </span>
                    <div class="dropdown-option-nav"
                            uk-dropdown="pos: top-right ;mode : hover">
                        <ul>
                            <li>
                                <span>
                                    <i class="icon-material-outline-dashboard"></i>
                                    Course Dashboard
                                </span>
                            </li>
                            <li>
                                <span>
                                    <i class="icon-feather-video"></i>
                                    Resume Course
                                </span>
                            </li>
                            <li>
                                <span>
                                    <i class="icon-feather-x"></i>
                                    Remove Course
                                </span>
                            </li>
                        </ul>
                    </div>
                </a>
            </li>
        </ul>
    </div>

    <div class="dropdown-notifications-footer">
        <a href="#"> sell all</a>
    </div>
</div>