@using CoursePlus.Shared.Policies 
@code
{
    [CascadingParameter]
    private Task<AuthenticationState> authState { get; set; }
    private bool IsAuthenticated { get; set; }
    private string FullName { get; set; }
    private string Email { get; set; }

    protected override async Task OnParametersSetAsync()
    {
        System.Security.Claims.ClaimsPrincipal principal = (await authState).User;
        IsAuthenticated = principal.Identity.IsAuthenticated;

        if (IsAuthenticated)
        {
            var firstName = principal.Claims.FirstOrDefault(c => c.Type == "FirstName")?.Value;
            var lastName = principal.Claims.FirstOrDefault(c => c.Type == "LastName")?.Value;
            FullName = $"{firstName} {lastName}";
            Email = principal.Identity.Name;
        }
    }
}

<div class="side-nav uk-animation-slide-left-medium">

    <div class="side-nav-bg"></div>

    <!-- logo -->
    <div class="logo uk-visible@s">
        <a href="/">
            <i class=" uil-graduation-hat"></i>
        </a>
    </div>

    <ul>
        <li>
            <a href="/courses"> <i class="uil-play-circle"></i> </a>
            <div class="side-menu-slide">
                <div class="side-menu-slide-content">
                    <ul data-simplebar>
                        <li>
                            <a href="/courses"> <i class="uil-brush-alt "></i> Web Development </a>
                        </li>
                        <li>
                            <a href="/courses"> <i class="uil-android-alt"></i> Mobile App </a>
                        </li>
                        <li>
                            <a href="/courses"> <i class="uil-bag-alt"></i> Business </a>
                        </li>
                        <li>
                            <a href="/courses"> <i class="uil-window"></i> IT Software </a>
                        </li>
                        <li>
                            <a href="/courses"> <i class="uil-palette"></i> Desings </a>
                        </li>
                        <li>
                            <a href="/courses"> <i class="uil-megaphone"></i> Marketing </a>
                        </li>
                        <li>
                            <a href="/courses"> <i class="uil-life-ring"></i> Life Style </a>
                        </li>
                        <li>
                            <a href="/courses"> <i class=" uil-camera"></i> Photography </a>
                        </li>
                        <li>
                            <a href="/courses"> <i class="uil-medkit"></i> Health Fitness </a>
                        </li>
                        <li>
                            <a href="/courses"> <i class="uil-music"></i> Music </a>
                        </li>
                        <li>
                            <a href="/courses">
                                <i class="uil-shopping-cart-alt"></i> Ecommerce
                            </a>
                        </li>
                        <li>
                            <a href="/courses"> <i class="uil-utensils-alt "></i> Food cooking </a>
                        </li>
                        <li>
                            <a href="/courses"> <i class="uil-lightbulb-alt"></i> Teaching academy </a>
                        </li>
                    </ul>
                </div>
            </div>
        </li>
        <li>
            <!-- book -->
            <a href="/books"> <i class="uil-book-alt"></i> <span class="tooltips"> Books </span> </a>
        </li>
        <li>
            <!-- Episodes -->
            <a href="/episodes"> <i class="uil-youtube-alt"></i> <span class="tooltips"> Episodes </span></a>
        </li>
        <li>
            <!-- Paths-->
            <a href="/course-path">
                <i class="uil-rss-interface"></i> <span class="tooltips">
                    Paths
                </span>
            </a>
        </li>
        <li>
            <!-- Blog-->
            <a href="/blog-1"> <i class="uil-file-alt"></i> <span class="tooltips"> Blog</span></a>
        </li>
        <li>
            <!-- Chat-->
            <a href="/chat"> <i class="uil-comment-alt-message"></i> <span class="tooltips"> Chat</span></a>
        </li>
        <li>
            <!--  Pages -->
            <a href="#"> <i class="uil-layers"></i></a>
            <div class="side-menu-slide">
                <div class="side-menu-slide-content">
                    <ul uk-accordion>
                        <!-- to make it open default   class="uk-open" -->
                        <li>
                            <a href="#" class="uk-accordion-title">
                                <i class="uil-layers"></i>Pages
                            </a>
                            <div class="uk-accordion-content">
                                <a href="/page-pricing">Pricing</a>
                                <a href="/page-faq">Faq</a>
                                <a href="/page-term">Term</a>
                                <a href="/page-privacy">Privacy</a>
                                <a href="/coming-soon">Coming soon</a>
                                <a href="/maintenance">Maintenance</a>
                            </div>
                        </li>
                        <li>
                            <a href="#" class="uk-accordion-title">
                                <i class="uil-sign-out-alt"></i> authentication
                            </a>
                            <div class="uk-accordion-content">
                                <a href="/form-login">Login</a>
                                <a href="/form-register">Register</a>
                                <a href="/form-modern-login">Simple Login</a>
                                <a href="/form-modern-signup">Simple Register</a>
                            </div>
                        </li>
                        <li>
                            <a href="#" class="uk-accordion-title">
                                <i class="uil-code"></i> Development
                            </a>
                            <div class="uk-accordion-content">
                                <a href="elements">Elements</a>
                                <a href="components">Components</a>
                                <a href="icons">Icons</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </li>
        <li>
            <a href="#" uk-toggle="target: #searchbox; cls: is-active"><i class="uil-search-alt"></i></a>
        </li>

    </ul>

    <ul class="uk-position-bottom">
        <li>
            <!-- Lunch information box -->
            <a href="#">
                <i class="uil-paint-tool"></i>
            </a>
            <div uk-drop="pos: right-bottom ;mode:click ; offset: 10;animation: uk-animation-slide-right-small">
                <div class="uk-card-default rounded p-0">
                    <h5 class="mb-0 p-3 px-4  bg-light"> Night mode</h5>
                    <div class="p-3 px-4">
                        <p>
                            Turns the light surfaces of the page dark, creating an experience ideal for night.
                        </p>
                        <div class="uk-flex">
                            <p class="uk-text-small text-muted">DARK THEME </p>
                            <!-- night mode button -->
                            <span href="#" id="night-mode" class="btn-night-mode">
                                <label class="btn-night-mode-switch">
                                    <span class="uk-switch-button"></span>
                                </label>
                            </span>
                        </div>

                    </div>
                </div>
            </div>
        </li>
        <AuthorizeView Policy="@Policies.IsAdmin">
            <li>
                <a href="/admin/dashboard"> <i class="uil-fire"></i> </a>
                <div class="side-menu-slide">
                    <div class="side-menu-slide-content">
                        <ul data-simplebar>
                            <li>
                                <a href="/manage-courses"> <i class="uil-youtube-alt"></i>Courses</a>
                            </li>
                            <li>
                                <a href="/add-course"> <i class="uil-youtube-alt"></i>Add course</a>
                            </li>
                            <li>
                                <a href="/manage-categories"> <i class="uil-tag-alt"></i>Categories</a>
                            </li>
                            <li>
                                <a href="/admin/instructors"> <i class="uil-tag-alt"></i>Instructors</a>
                            </li>
                            <li>
                                <a href="/admin/students"> <i class="uil-user-check"></i>Students</a>
                            </li>
                            <li>
                                <a href="/admin/books"> <i class="uil-book-alt"></i>All Books</a>
                            </li>
                            <li>
                                <a href="/settings"> <i class="uil-cog"></i>Settings</a>
                            </li>
                            <li>
                                <a href="/admin/student-generator"> <i class="uil-cog"></i>Student generator</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </li>
            <li>
                <a href="#">
                    <span class="icon-feather-user"></span>
                </a>
                <div uk-drop="pos:right-bottom; mode:click; offset:10; animation:uk-animation-slide-right-small">
                    <div class="uk-card-default rounded p-0">
                        <a href="/user-profile" class="p-0">

                            <div class="dropdown-user-details">
                                <div class="dropdown-user-avatar">
                                    <Gravatar Email="@Email" Alt="@FullName" />
                                </div>
                                <div class="dropdown-user-name">
                                    @FullName <span>Students</span>
                                </div>
                            </div>

                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="#">
                                    <i class="icon-material-outline-dashboard"></i> Dashboard
                                </a>
                            </li>
                            <li>
                                <a href="/user-profile-edit">
                                    <i class="icon-feather-settings"></i> Account Settings
                                </a>
                            </li>
                            <li>
                                <a href="#" class="text-grey">
                                    <i class="icon-feather-star"></i> Upgrade To Premium
                                </a>
                            </li>
                            <li class="menu-divider">
                            </li>
                            <li>
                                <a href="#">
                                    <i class="icon-feather-help-circle"></i> Help
                                </a>
                            </li>
                            <li>
                                <a href="page-login.html">
                                    <i class="icon-feather-log-out"></i> Sing Out
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </li>
        </AuthorizeView>
    </ul>
</div>
