@page "/book-detail"
@using CoursePlus.Components

    <div id="wrapper">

<Header Class="header" UkSticky="top:20; cls-active:header-sticky">
        <Breadcrumbs>
            <li><a href="/" uk-tooltip="title:Home; pos:bottom; offset:21"> <i class="uil-home-alt"></i> </a></li>
            <li>Book detail</li>
        </Breadcrumbs>
    </Header>

    <SearchOnMobile></SearchOnMobile>

    <SearchOnDesktop></SearchOnDesktop>

    <SideNav></SideNav>

        <!-- content -->
        <div class="page-content">

            <div class="page-content-inner">

                <div class="container-small">


                    <div class="uk-grid-large mt-lg-3" uk-grid>
                        <div class="uk-width-1-3@m uk-width-1-2@s">
                            <div uk-sticky="offset: 70 ;bottom: true ;media @@s">

                                <div uk-lightbox>
                                    <a href="images/book/book-description.jpg" data-caption="Caption 1">
                                        <img class="uk-box-shadow-xlarge" alt=""
                                            src="images/book/book-description.jpg">
                                    </a>
                                    <a href="images/book/book-description.jpg" data-caption="Caption 2"> </a>
                                    <a href="images/book/html5.jpg" data-caption="Caption 3"> </a>
                                </div>

                                <ul class="uk-list uk-list-divider text-small mt-lg-4">
                                    <li> Visited 120 </li>
                                    <li> Publish time 12/12/2018</li>
                                    <li> Downloaded 120 </li>
                                </ul>

                                <button class="btn btn-info">
                                    <i class="icon-feather-book-open mr-2"></i> Read
                                </button>
                                <button class="btn btn-danger">
                                    <i class="icon-feather-shopping-cart mr-2"></i> Buy
                                </button>

                            </div>
                        </div>

                        <div class="uk-width-2-3@m uk-width-1-2@s">
                            <h2>Learn The Basic Of VUE JS .</h2>
                            <hr class="mt-0">
                            <h4> Description </h4>
                            <p></p>
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod
                                tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam,
                                quis nostrud exerci tation ullamcorper</p>
                            <p>Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod
                                mazim placerat facer possim assum. Lorem ipsum dolor sit amet, consectetuer adipiscing
                                elit, sed diam nonummy nibh euismod quis nostrud exerci tation ullamcorper tincidunt ut
                                laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud
                                exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
                            <p>mazim placerat facer possim assum. Lorem ipsum dolor sit amet, consectetuer adipiscing
                                elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat
                                volutpat. Ut wisi enim ad minim veniam,suscipit lobortis nisl ut aliquip ex ea commodo
                                consequat</p>
                            <b> Assum consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt</b>
                            <p>Diam nonummy nibh euismod erat volutpat. Ut wisi enim ad minim veniam, quis nostrud
                                exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat</p>
                            <p>laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam</p>
                            <h4>Book Information</h4>
                            <p class="mb-0"><strong>Page Count</strong>: 118</p>
                            <p class="mt-0"><strong>Word Count</strong>: 15872</p>
                        </div>


                    </div>

                </div>


                <Footer></Footer>>


            </div>

        </div>

    </div>
